
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportsNewsProject.Models.VM.CategoryPageVM

<section id="feature_category_section" class="feature_category_section category_page section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                @for (int i = 0; i < 1; i++)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature_news_item category_item">
                                <div class="item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <img class="img-responsive" src="/mainsite/assets/img/category.jpg" alt="Chania">
                                        </div><!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h1><a href="single.html">@Model.category.News[i].Title</a></h1>
                                            </div><!--news_item_title-->
                                            <div class="item_meta"><a href="#">@Model.category.News[i].AddDate.ToString("dd MMM yyyy"),</a> by:<a href="#">@Model.category.News[i].Author?.Name</a></div>
                                        </div><!--item_title_date-->
                                    </div><!--item_wrapper-->
                                    <div class="item_content">
                                        @Model.category.News[i].SubTitle
                                    </div><!--item_content-->

                                </div><!--item-->
                            </div><!--feature_news_item-->
                        </div><!--col-md-6-->
                    </div>

                }
            <div class="row">
                @for (int i = 1; i < Model.category.News.Count; i++)
                {
                    <div class="col-md-6">
                        <div class="feature_news_item">
                            <div class="item">
                                <div class="item_wrapper">
                                    <div class="item_img">
                                        <img class="img-responsive" src="/mainsite/assets/img/img-category.jpg" alt="Chania">
                                    </div> <!--item_img-->
                                    <div class="item_title_date">
                                        <div class="news_item_title">
                                            <h2><a href="single.html">@Model.category.News[i].Title</a></h2>
                                        </div>
                                        <div class="item_meta"><a href="#">@Model.category.News[i].AddDate.ToString("dd MMM yyyy"),</a> by:<a href="#">@Model.category.News[i].Author?.Name</a></div>
                                    </div><!--item_title_date-->
                                </div> <!--item_wrapper-->
                                <div class="item_content">
                                    @Model.category.News[i].SubTitle.Substring(0,70) ...
                                </div>

                            </div><!--item-->
                        </div><!--feature_news_item-->
                    </div><!--col-md-6-->

                }

            </div><!--row-->
            </div><!--col-md-9-->
        </div>
    </div>
</section><!--feature_category_section-->
