
@{
    ViewData["Title"] = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportsNewsProject.Models.VM.CategoryPageVM

<section id="feature_category_section" class="feature_category_section category_page section_wrapper">
    <div class="container">
        <div class="item_caregory red"><h2><a href="">@Model.category.CategoryName.ToUpper()</a></h2></div>
        <div class="row">
            <div class="col-md-9">
                @for (int i = 0; i < 1; i++)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature_news_item category_item">
                                <div class="item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <a href="/NewsDetail/Index/@Model.category.News[i].ID"><img class="img-responsive" src="/mainsite/assets/img/category.jpg" alt="Chania"></a>
                                        </div><!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h1><a href="/NewsDetail/Index/@Model.category.News[i].ID">@Model.category.News[i].Title</a></h1>
                                            </div><!--news_item_title-->
                                            <div class="item_meta">@Model.category.News[i].AddDate.ToString("dd MMM yyyy"), by:<a href="/AuthorPage/Author/@Model.category.News[i].AuthorID">@Model.category.News[i].Author?.Name</a></div>
                                        </div><!--item_title_date-->
                                    </div><!--item_wrapper-->
                                    <div class="item_content">
                                        @Model.category.News[i].SubTitle
                                    </div><!--item_content-->

                                </div><!--item-->
                            </div><!--feature_news_item-->
                        </div><!--col-md-6-->
                    </div>

                }
                <div class="row">
                    @for (int i = 1; i < Model.category.News.Count; i++)
                    {
                        <div class="col-md-6">
                            <div class="feature_news_item">
                                <div class="item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <a href="/NewsDetail/Index/@Model.category.News[i].ID"><img class="img-responsive" src="/mainsite/assets/img/img-category.jpg" alt="Chania"></a>
                                        </div> <!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h2><a href="/NewsDetail/Index/@Model.category.News[i].ID">@Model.category.News[i].Title</a></h2>
                                            </div>
                                            <div class="item_meta">@Model.category.News[i].AddDate.ToString("dd MMM yyyy"), by:<a href="/AuthorPage/Author/@Model.category.News[i].AuthorID">@Model.category.News[i].Author?.Name</a></div>
                                        </div><!--item_title_date-->
                                    </div> <!--item_wrapper-->
                                    <div class="item_content">
                                        @Model.category.News[i].SubTitle.Substring(0, 10) ...
                                    </div>

                                </div><!--item-->
                            </div><!--feature_news_item-->
                        </div><!--col-md-6-->

                    }

                </div><!--row-->
            </div><!--col-md-9-->
            <div class="col-md-3">

                <div class="tab sitebar">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#1" data-toggle="tab">Latest</a></li>
                        <li><a href="#2" data-toggle="tab">Populer</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            @foreach (var item in Model.news)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="/NewsDetail/Index/@item.ID"><img class="media-object" src="/mainsite/assets/img/img-list.jpg" alt="Generic placeholder image"></a>
                                    </div><!--media-left-->
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="/NewsDetail/Index/@item.ID">@item.Title</a></h4>
                                    </div><!--media-body-->
                                </div><!--media-->

                            }
                        </div><!--tab-pane-->

                        <div class="tab-pane" id="2">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list4.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->
                        </div><!--tab-pane-->
                    </div><!--tab-content-->
                </div><!--tab-->
            </div>
        </div>
    </div>
</section><!--feature_category_section-->
