
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportsNewsProject.Models.VM.NewsVM

<style>
    .voteinp{
        width:35px;
        border:none;
        background-color:none;
        pointer-events:none;
    }
    .like{
        color:darkgreen;
        font:bold;
    }
    .dislike{
        color:darkred;
        font:bold;
    }
</style>

<section id="feature_category_section" class="feature_category_section single-page section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="single_content_layout">
                    <div class="item feature_news_item">
                        <div class="item_img">
                            <img class="img-responsive" src="/mainsite/assets/img/img-single.jpg" alt="Chania">
                        </div><!--item_img-->
                        <div class="item_wrapper">
                            <div class="news_item_title">
                                <h2><a href="#">@Model.Title</a></h2>
                            </div><!--news_item_title-->
                            <div class="item_meta">@Model.AddDate.ToString("dd MMM yyy"), by:<a href="/yazar/@Model.authorid/@UrlHelpers.FriendlyUrl(Model.AuthorName)">@Model.AuthorName</a></div>

                            <div class="single_social_icon">
                                <a class="icons-sm fb-ic" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                <!--Twitter-->
                                <a class="icons-sm tw-ic" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                <!--Google +-->
                                <a class="icons-sm gplus-ic" href="#"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                <!--Linkedin-->
                                <a class="icons-sm li-ic" href="#"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>

                            </div> <!--social_icon1-->

                            <div class="item_content">
                                @Html.Raw(Model.Content)
                            </div><!--item_content-->
                        </div><!--item_wrapper-->
                    </div><!--feature_news_item-->

                    <div class="single_related_news">
                        <div class="single_media_title"><h2>Related News</h2></div>
                        <div class="media_wrapper">

                            @foreach (var item in Model.Categories)
                            {
                                @for (int i = 0; i < 4; i++)
                                {
                                    @if (item.News.Count > i)
                                    {
                                        @if (Model.ID != item.News[i].ID)
                                        {
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="/haber/@item.News[i].ID/@UrlHelpers.FriendlyUrl(item.News[i].Title)"><img class="media-object" src="/mainsite/assets/img/img-list5.jpg" alt="Generic placeholder image"></a>
                                                </div><!--media-left-->
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="/haber/@item.News[i].ID/@UrlHelpers.FriendlyUrl(item.News[i].Title)">
                                                            @item.News[i].Title;
                                                        </a>
                                                    </h4>
                                                    <div class="media_meta">@item.News[i].AddDate.ToString("dd MMM yyy"), by:<a href="/yazar/@item.News[i].AuthorID/@UrlHelpers.FriendlyUrl(item.News[i].Author?.Name)">@item.News[i].Author?.Name</a></div>
                                                    <div class="media_content">
                                                        <p>@Html.Raw(item.News[i].Content.Substring(0, 70)) ...</p>
                                                    </div><!--media_content-->
                                                </div><!--media-body-->
                                            </div><!--media-->
                                        }
                                    }

                                }
                            }

                        </div><!--media_wrapper-->
                    </div><!--single_related_news-->


                    <div class="ad">
                        <img class="img-responsive" src="/mainsite/assets/img/img-single-ad.jpg" alt="Chania">
                    </div>

                    <div class="readers_comment">
                        <div class="single_media_title"><h2>Related Comments</h2></div>
                        @foreach (var item in Model.Comments)
                        {
                            @if (item.ParentId == 0)
                            {
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img alt="64x64" class="media-object" data-src="/mainsite/assets/img/img-author1.jpg"
                                                 src="/mainsite/assets/img/img-author1.jpg" data-holder-rendered="true">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading">@item.User.NickName</h2>
                                        <p>@item.AddDate.ToString("dd MMM yyy HH:mm")</p>
                                        @Html.Raw(item.Content)

                                        <div class="comment_article_social">
                                            <a href="javascript:void(0);" onclick="like('@item.ID','@ViewBag.email')"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><input class="voteinp like" type="number" value="@item.Likes" id="like_@item.ID" /></a>
                                            <a href="javascript:void(0);" onclick="dislike(@item.ID)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i><input class="voteinp dislike" type="number" value="@item.Dislikes" id="dislike_@item.ID" /></a>
                                            <button onclick="addreply('@item.ID',true)" class="reply_ic"><span> Reply </span></button>
                                        </div>
                                        <div id="replyform_@item.ID" style="display:none">
                                            <div class="add_a_comment">
                                                <div class="single_media_title"><h2>Add a Reply</h2></div>
                                                <div class="comment_form">
                                                    <form action="/newsdetail/reply" method="post">
                                                        <input type="hidden" name="ID" value="@Model.ID" />
                                                        <input type="hidden" name="parentid" value="@item.ID" />

                                                        <div class="form-group">
                                                            <input type="text" name="useremail" placeholder="Email" style="width:100%" />
                                                        </div>
                                                        <div class="form-group comment">
                                                            <input type="text" name="replycomment" placeholder="Content" style="width:100%; height:80px" />
                                                        </div>

                                                        <button type="submit" class="btn btn-submit red">Reply</button>

                                                    </form>
                                                </div><!--reply_form-->
                                            </div><!--add_a_reply-->
                                        </div>
                                        @for (int i = 0; i < Model.Comments.Count; i++)
                                        {
                                            @if (item.ID == Model.Comments[i].ParentId)
                                            {
                                                <div class="media reply">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img alt="64x64" class="media-object" data-src="/mainsite/assets/img/img-author2.jpg"
                                                                 src="/mainsite/assets/img/img-author2.jpg" data-holder-rendered="true">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h2 class="media-heading">@Model.Comments[i].User.NickName</h2>
                                                        <p>@Model.Comments[i].AddDate.ToString("dd MMM yyy HH:mm")</p>
                                                        @Html.Raw(Model.Comments[i].Content)

                                                        <div class="comment_article_social">
                                                            <a href="javascript:void(0)" onclick="clike(@Model.Comments[i].ID)"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><input class="voteinp like" type="number" value="@Model.Comments[i].Likes" id="clike_@Model.Comments[i].ID" /></a>
                                                            <a href="javascript:void(0)" onclick="cdislike(@Model.Comments[i].ID)"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i><input class="voteinp dislike" type="number" value="@Model.Comments[i].Dislikes" id="cdislike_@Model.Comments[i].ID" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div><!--readers_comment-->

                    @if (ViewBag.IsAuth == false)
                    {
                        <div class="add_a_comment">
                            <div class="single_media_title"><h2>Add a Comment</h2></div>
                            <div class="comment_form">
                                <span>Yorum yapabilmek için lütfen <a href="/login" style="color:tomato">giriş</a> yapınız!</span>
                            </div><!--comment_form-->
                        </div><!--add_a_comment-->
                    }
                    else
                    {
                        <div class="add_a_comment">
                            <div class="single_media_title"><h2>Add a Comment</h2></div>
                            <div class="comment_form">
                                <form action="/NewsDetail/AddComment/@Model.ID" method="post">
                                    <input type="hidden" name="UserEmail" value="@ViewBag.email" />
                                    <div class="form-group comment">
                                        @Html.LabelFor(q => q.Comment.Content, new { @class = "bmd-label-floating" })
                                        @Html.TextAreaFor(q => q.Comment.Content, new { @class = "form-control" })
                                    </div>

                                    <button type="submit" class="btn btn-submit red">Submit</button>
                                </form>
                            </div><!--comment_form-->
                        </div><!--add_a_comment-->
                    }



                </div><!--single_content_layout-->
            </div>

            <div class="col-md-3">

                <div class="tab sitebar">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#1" data-toggle="tab">Latest</a></li>
                        <li><a href="#2" data-toggle="tab">Populer</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list5.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list2.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list3.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->
                        </div><!--tab-pane-->

                        <div class="tab-pane" id="2">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list4.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->

                            <div class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list.jpg" alt="Generic placeholder image"></a>
                                </div><!--media-left-->
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-full"></i>
                                    </span>
                                </div><!--media-body-->
                            </div><!--media-->
                        </div><!--tab-pane-->
                    </div><!--tab-content-->
                </div><!--tab-->

                <div class="ad">
                    <img class="img-responsive" src="/mainsite/assets/img/img-sitebar.jpg" alt="img" />
                    <img class="img-responsive" src="/mainsite/assets/img/img-sitebar.jpg" alt="img" />
                    <img class="img-responsive" src="/mainsite/assets/img/img-sitebar.jpg" alt="img" />
                    <img class="img-responsive" src="/mainsite/assets/img/img-sitebar.jpg" alt="img" />
                </div><!--ad-->

                <div class="ad">
                    <img class="img-responsive" src="/mainsite/assets/img/img-ad.jpg" alt="img" />
                </div>

                <div class="ad">
                    <img class="img-responsive" src="/mainsite/assets/img/img-ad2.jpg" alt="img" />
                </div>

                <div class="most_comment">
                    <div class="sidebar_title">
                        <h2>Most Commented</h2>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list.jpg" alt="Generic placeholder image"></a>
                        </div><!--media-left-->
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                            <div class="comment_box">
                                <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                                <div class="comments"><a href="#">9 Comments</a></div>
                            </div><!--comment_box-->
                        </div><!--media-body-->
                    </div><!--media-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list2.jpg" alt="Generic placeholder image"></a>
                        </div><!--media-left-->
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                            <div class="comment_box">
                                <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                                <div class="comments"><a href="#">20 Comments</a></div>
                            </div><!--comment_box-->
                        </div><!--media-body-->
                    </div><!--media-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list3.jpg" alt="Generic placeholder image"></a>
                        </div><!--media-left-->
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                            <div class="comment_box">
                                <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                                <div class="comments"><a href="#">23 Comments</a></div>
                            </div><!--comment_box-->
                        </div><!--media-body-->
                    </div><!--media-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img class="media-object" src="/mainsite/assets/img/img-list3.jpg" alt="Generic placeholder image"></a>
                        </div><!--media-left-->
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Spain going to made class football</a></h3>
                            <div class="comment_box">
                                <div class="comments_icon"> <i class="fa fa-comments" aria-hidden="true"></i></div>
                                <div class="comments"><a href="#">44 Comments</a></div>
                            </div><!--comment_box-->
                        </div><!--media-body-->
                    </div><!--media-->
                </div><!--most_comment-->
            </div>
        </div>
</section>

<script>
    function addreply(id, isTrue) {

        var replyform = 'replyform_' + id;

        if (isTrue) {
            $('#' + replyform).toggle(1000);
        }
    }

    function like(id, useremail) {

        var likeinput = 'like_' + id;
        var like = document.querySelector('#' + likeinput);
        like.value.toggle;
        $.ajax({
            url: "/NewsDetail/Voting",
            type: "POST",
            data: {
                id: id,
                isTrue: true,
                useremail: useremail
            },
            error: function (err) {
                alert("Sadece 1 oy verebilirsiniz!");
            },
            success:
                like.value = parseInt(like.value) + 1
        })
    }
    function clike(id) {

        var clikeinput = 'clike_' + id;
        var clike = document.querySelector('#' + clikeinput);
        clike.value = parseInt(clike.value) + 1;
        $('#' + clikeinput).css("color", "green");
        $.ajax({
            url: "/NewsDetail/Voting",
            type: "POST",
            data: {
                id: id,
                isTrue: true
            }
        })
    }

    function dislike(id) {

        var dislikeinput = 'dislike_' + id;
        var dislike = document.querySelector('#' + dislikeinput);
        dislike.value = parseInt(dislike.value) + 1;
        $('#' + dislikeinput).css("color", "red");
        $.ajax({
            url: "/NewsDetail/Voting",
            type: "POST",
            data: {
                id: id,
                isTrue:false
            }
        })
    }
    function cdislike(id) {

        var cdislikeinput = 'cdislike_' + id;
        var cdislike = document.querySelector('#' + cdislikeinput);
        cdislike.value = parseInt(cdislike.value) + 1;
        $('#' + cdislikeinput).css("color", "red");
        $.ajax({
            url: "/NewsDetail/Voting",
            type: "POST",
            data: {
                id: id,
                isTrue: false
            }
        })
    }

</script>