
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model List<SportsNewsProject.Models.VM.UserVM>

<div class=" table-responsive"><div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Users</h4>
            <p class="card-category">All users of this page</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>EMail</th>
                <th>Nickname</th>
                <th>Addate</th>


                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.SurName</td>
                            <td>@item.EMail</td>
                            <td>@item.NickName</td>
                            <td>@item.AddDate</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div></div>
