
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@model List<SportsNewsProject.Models.VM.CategoryVM>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Categories</h4>
                        <p class="card-category"> All Categories of this page</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-warning">
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th> Name</th>
                                        <th>Description</th>
                                        <th>UpperCategoryId</th>
                                        <th>Adddate</th>
                                        <th> Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr class="text-center" id="@item.ID">
                                            <td>
                                                @item.ID
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                            <td class="text-primary">
                                                @item.UpperCategoryId
                                            </td>
                                            <td>
                                                @item.Adddate
                                            </td>
                                            <td class="td-actions">
                                                <a href="/Category/Edit/@item.ID">
                                                    <button class="btn btn-outline-success">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                </a>
                                                <span id="confirmDeleteSpan_@item.ID" style="display:none">
                                                    <span>Are you sure you want to delete?</span>
                                                    <button type="submit" class="btn btn-outline-success delete" id="@item.ID">Yes</button>
                                                    <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',false)">No</a>
                                                </span>

                                                <span id="deleteSpan_@item.ID">
                                                    <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',true)"><i class="material-icons">close</i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   $(document).on("click", ".delete", function () {

        let id = $(this).attr("id")

        $.ajax({
            url: "/Category/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Category Deleting Failed!");
            }
        })
    })
</script>