
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model List<SportsNewsProject.Models.VM.NewsVM>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">News</h4>
                        <p class="card-category"> Table of News</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th class="text-center">
                                    ID
                                </th>
                                <th class="text-center">
                                    Title
                                </th>
                                <th class="text-center">
                                    SubTitle
                                </th>
                                <th class="text-center">
                                    Content
                                </th>
                                <th class="text-center">
                                    Author
                                </th>
                                <th class="text-center">
                                    Category
                                </th>
                                <th class="text-center">
                                    Detail/Edit/Delete
                                </th>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                    <tr class="text-center" id="@item.ID">
                                        <td>
                                            @item.ID
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.SubTitle
                                        </td>
                                        <td>
                                            @Html.Raw(item.Content)
                                        </td>
                                        <td>
                                            @item.AuthorName
                                        </td>
                                        <td>
                                            @item.CategoryName
                                        </td>
                                        <td class="td-actions">
                                            <a href="/News/Edit/@item.ID"><button class="btn btn-outline-success" rel="tooltip" id="@item.ID"><i class="material-icons">edit</i></button></a>
                                            <button class="btn btn-outline-danger delete" rel="tooltip" id="@item.ID">  <i class="material-icons">close</i></button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("click", ".delete", function () {

        let id = $(this).attr("id")

        $.ajax({

            url: "/News/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Article Deleting Failed!");
            }
        })
    })
</script>


