
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model List<SportsNewsProject.Models.VM.NewsVM>

<form class="navbar-form">
    <div class="input-group no-border">
        <input type="text" id="search_input" class="form-control" placeholder="Search News Using Titles...">
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    </div>
</form>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">News</h4>
                        <p class="card-category"> Table of News</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>SubTitle</th>
                                        <th>Content</th>
                                        <th>Author</th>
                                        <th>Category</th>
                                        <th>Detail/Edit/Delete</th>
                                    </tr>
                                </thead>

                                <tbody class="table_body">
                                    @foreach (var item in Model)
                                    {

                                        <tr class="text-center" id="@item.ID">
                                            <td>@item.ID</td>
                                            <td class="title">@item.Title</td>
                                            <td>@item.SubTitle</td>
                                            <td>@Html.Raw(item.Content)</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CategoryName</td>
                                            <td class="td-actions">
                                                <button class="btn btn-outline-primary detail" id="@item.ID">
                                                    <i class="material-icons">description</i>
                                                </button>

                                                <a href="/News/Edit/@item.ID">
                                                    <button class="btn btn-outline-success" rel="tooltip" id="@item.ID">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                </a>

                                                <span id="confirmDeleteSpan_@item.ID" style="display:none">
                                                    <span>Are you sure you want to delete?</span>
                                                    <button type="submit" class="btn btn-outline-success delete" id="@item.ID">Yes</button>
                                                    <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',false)">No</a>
                                                </span>

                                                <span id="deleteSpan_@item.ID">
                                                    <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.ID',true)"><i class="material-icons">close</i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Article Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span>Title:</span>
                    <span id="title"></span>
                </div>
                <div>
                    <span>Add Date:</span>
                    <span id="adddate"></span>
                </div>
                <div>
                    <span>Images:</span>
                    <ul id="images">

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>

    var search_input = document.querySelector("#search_input");

    search_input.addEventListener("keyup", function (e) {

        var search_item = e.target.value.toLowerCase();
        var name_items = document.querySelectorAll(".table_body .text-center .title");

        name_items.forEach(function (item) {
            if (item.textContent.toLowerCase().indexOf(search_item) != -1) {
                item.closest("tr").style.display = "table-row";
            }
            else {
                item.closest("tr").style.display = "none";
            }
        })
    })

    $(document).on("click", ".delete", function () {

        let id = $(this).attr("id")

        $.ajax({

            url: "/News/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Article Deleting Failed!");
            }
        })
    })
</script>

<script>
    $(document).on("click", ".detail", function () {

        let id = $(this).attr("id");
        fetch("/News/Detail/" + id)
            .then((res) => res.json())
            .then((data) => {

                $("#title").html(data.title);
                $("#adddate").html(data.addDate);

                $("#images li").remove();

                data.pictureList.forEach(item => {

                    $("#images").append(

                        `<li>
                            <img src="/assets/articleimg/` + item.imagePath + `" width="200" height="100" />
                        </li><br>`

                    )
                });

                $("#detailmodal").modal();

            });
    });
</script>

