
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model List<SportsNewsProject.Models.VM.NewsVM>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">News</h4>
                        <p class="card-category"> Table of News</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        SubTitle
                                    </th>
                                    <th>
                                        Content
                                    </th>
                                    <th>
                                        AuthorCategoryID
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                               
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr id="@item.ID">
                                            <td>
                                                @item.ID
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.SubTitle
                                            </td>
                                            <td class="text-primary">
                                                @item.Content
                                            </td>
                                            <td>
                                                @item.AuthorCategoryID
                                            </td>
                                            <td>
                                                <a href="/News/Edit/@item.ID"><button class="btn btn-outline-success" id="@item.ID">Edit</button></a>
                                                <button class="btn btn-outline-danger delete" id="@item.ID">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("click", ".delete", function () {

        let id = $(this).attr("id")

        $.ajax({

            url: "/News/Delete",
            type:"POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Article Deleting Failed!");
            }
        })
    })
</script>


