@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SportsNewsProject.Models.VM.CommentVM

<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="Users">Users</label>
            <select class="form-control selectpicker" data-style="btn btn-link" name="userid" id="Users">

                @foreach (var item in Model.Users)
                {
                    <option value="@item.ID">@item.NickName</option>
                }

            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="News">News</label>
            <select class="form-control selectpicker" data-style="btn btn-link" name="newsid" id="News">

                @foreach (var item in Model.News)
                {
                    <option value="@item.ID">@item.Title</option>
                }

            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(q => q.Content, new { @class = "bmd-label-floating" })
            @Html.TextBoxFor(q => q.Content, new { @id = "editor1" })
            @Html.ValidationMessageFor(q => q.Content)
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor1'))
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
        </div>
    </div>

</div>

