
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@model List<SportsNewsProject.Models.VM.CommentVM>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr class="text-center">
                                        <th>ID</th>
                                        <th>User ID</th>
                                        <th>News ID</th>
                                        <th>Content</th>
                                        <th>Adddate</th>
                                        <th>Edit/Delete</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr class="text-center" id="@item.ID">

                                            <td>@item.ID</td>
                                            <td>@item.UserID</td>
                                            <td>@item.NewsID</td>
                                            <td>@item.Content</td>
                                            <td>@item.AddDate</td>
                                            <td class="td-actions">
                                                <a href="/Comment/Edit/@item.ID">
                                                    <button class="btn btn-outline-success">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                </a>
                                                <button class="btn btn-outline-danger delete" id="@item.ID">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("click", ".delete", function () {

        let id = $(this).attr("id");

        $.ajax({
            url: "/Comment/Delete",
            type: "POST",
            data: { id: id },
            success: function (msg) {
                alert(msg);
                $("#" + id).fadeOut();
            },
            error: function (err) {
                alert("Comment Deleting Failed!")
            }
        })
    })
</script>