
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model SportsNewsProject.Models.VM.HomeVM

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Categories</h4>
                <p class="card-category">All categories of this page</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Upper Category</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.CategoryName</td>
                                <td>@item.Description</td>
                                <td>@item.UpperCategoryID</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Authors</h4>
                <p class="card-category">All authors of this page</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>EMail</th>
                    <th>Phone</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Authors)
                        {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.SurName</td>
                            <td>@item.EMail</td>
                            <td>@item.Phone</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">News</h4>
                <p class="card-category">All news of this page</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                    <th>ID</th>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.News)
                        {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Title</td>
                            <td>@item.SubTitle</td>
                            <td>@item.Content</td>
                            <td>@item.AuthorCategory.Author.Name</td>
                            <td>@item.AuthorCategory.Category.CategoryName</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

